.iconLink {
  @apply inline-flex gap-3 text-blue-900 hover:underline hover:text-blue-400 transition-all ease-in-out duration-200 hover:gap-4 focus:text-blue-600 focus:gap-4 align-middle items-center
}

.iconLink p {
  @apply min-w-fit
}

.iconLink svg {
  @apply h-6
}